{% set features_base_class = "features" %}
{% set features_content_base_class = "features_content" %}

<section {{bem(features_base_class)}} >
 <div {{bem(features_base_class,['overlay'])}}>
 </div>

 <div {{bem(features_base_class,['main_content'])}}>	

	<div {{bem(features_content_base_class)}} >
		<div {{bem(features_content_base_class,['title'])}}>	
		{% include "@atoms/text/headings/_heading.twig" with {
      heading: heading,
			heading_level: 1,}%}
		</div>

    <div {{bem(features_content_base_class,['content'])}}>
			<div>
				{% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_content: paragraph_content,}%}
      </div>  
		</div>		
 </div>
</section>